@model Hospital.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Create";
}

<h2 class="mb-4">Create Room</h2>
<hr />

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>



            <div class="mb-3">
                <label asp-for="RoomNumber" class="form-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Type" class="form-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Status" class="form-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="HospitalInfoId" class="form-label"></label>
                <input asp-for="HospitalInfoId" class="form-control" />
                <span asp-validation-for="HospitalInfoId" class="text-danger"></span>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>

        <div class="mt-3">
            <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
        </div>
    </div>
</div>
